
@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

:root{
	--c1: #f4a460;
	--c2: #6495ed;
}


body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--c2);
	font-size: 50px;
}

a{
	text-decoration: none;
}

.all .entryBox .header{
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.all .entryBox .header h1{
	color: var(--c1);
	padding: 14px 40px;
	margin: 40px 0px;
	font-size: 9.8vw;
	font-family: 'Red Hat Display', sans-serif;
	font-weight: lighter;
	text-align: center;
	line-height: 100px;
	border-bottom: 2px solid var(--c1);
}

.all .entryBox .container{
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 30px;
	max-width: 1000px;
}

.all .entryBox .container .contentLogin,
.all .entryBox .container .contentSignup{
	width: 85%;
	height: auto;
	border-radius: 5%;
	background: white;
}

.all .entryBox .container .contentLogin .info,
.all .entryBox .container .contentSignup .info{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
	text-align: center;
}

.all .entryBox .container .contentLogin .info h1,
.all .entryBox .container .contentSignup .info h1{
	font-size: 5.5vw;
	color: var(--c1);
}

.all .entryBox .container .contentLogin .info a,
.all .entryBox .container .contentSignup .info a{
	font-size: 3.2vw;
	color: var(--c1);
	font-weight: lighter;
	text-decoration: underline;
}

.all .entryBox .container .contentLogin .field,
.all .entryBox .container .contentSignup .field{

	margin: 25px auto;
	text-align: center;
}

.all .entryBox .container .contentLogin .field p,
.all .entryBox .container .contentSignup .field p{
	margin: 0;
}

.all .entryBox .container .contentLogin .field input,
.all .entryBox .container .contentSignup .field input{
	border: none;
	color: var(--c2);
	border-bottom: solid;
	height: 3vh;
	width: 75%;
	font-size: 4vw;
	margin-bottom: 7%;
	outline: none;
}

.all .entryBox .container .contentLogin .field .button,
.all .entryBox .container .contentSignup .field .button{
	font-family: 'Roboto Condensed', sans-serif;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 5vw;
	margin: 20px 2px;
	-webkit-transition-duration: 0.4s;	
	transition-duration: 0.4s;
	cursor: pointer;
	  background-color: white; 
	  color: var(--c1);
	  border: 2px solid var(--c1);;
}

.all .entryBox .container .contentLogin .field .button:hover,
.all .entryBox .container .contentSignup .field .button:hover{
  background-color: var(--c1);;
  color: white;
}

#location_btn{
	font-family: 'Roboto Condensed', sans-serif;
	padding: 16px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 5vw;
	margin: 20px 2px;
	-webkit-transition-duration: 0.4s;	
	transition-duration: 0.4s;
	cursor: pointer;
	background-color: white; 
	color: var(--c1);
	border: 2px solid var(--c1);;

}

#location_btn:hover{
  background-color: var(--c1);;
  color: white;
}


.all .mainBox .userGreeting {
	width: 100%;
	background-color: #fff;
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.all .mainBox .userGreeting h1{
	color: var(--c1);
	padding: 14px 40px;
	margin: 40px 0px;
	font-size: 9.8vw;
	font-family: 'Red Hat Display', sans-serif;
	font-weight: lighter;
	text-align: center;
	line-height: 100px;
	border-bottom: 2px solid var(--c1);
}


.all .mainBox .notesContainer{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.all .mainBox .notesContainer .note{
	width: 65%;
	margin: 10px 20px;
	height: auto;
	background-color:#fff;
}
.all .mainBox .notesContainer .note .header{
	width: 100%;
	display: flex;
	justify-content: center;
}

.all .mainBox .notesContainer .note .header h1{
	font-family: 'Red Hat Display', sans-serif;
	margin: 10px 0px;
	padding: 7px 38px;
	font-size: 7vw;
	text-align: center;
	color: var(--c1);
}

.all .mainBox .notesContainer .note .info{
	display: flex;
	justify-content: center;
}

.all .mainBox .notesContainer .note .info p{
	margin: 0;
	font-size: 9vw;
	text-align: center;
	font-family: 'Red Hat Display', sans-serif;
	font-weight: bold;
	color: var(--c1);
}

@media only screen and (min-width: 1000px){
	.all .entryBox .header h1{
		font-size: 80px;
	}

	.all .entryBox .container .contentLogin .info h1,
	.all .entryBox .container .contentSignup .info h1{
		font-size: 50px;
	}

	.all .entryBox .container .contentLogin .info a,
	.all .entryBox .container .contentSignup .info a{
		font-size: 35px;
	}

	.all .entryBox .container .contentLogin .field input,
	.all .entryBox .container .contentSignup .field input{
		font-size: 40px;
	}

	.all .entryBox .container .contentLogin .field .button,
	.all .entryBox .container .contentSignup .field .button{
		font-size: 50px;
	}
}
